* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  margin: 2rem;
}

#main-content {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style: none;
}

.category-button {
  width: 100%;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  border: 1px solid black;
  justify-content: space-between;
  padding: 5px;
}

.card-header {
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
